{% extends 'testing/basev3.html'%}

{%block title%}My properties{%endblock%}
{%block content%}
<div class="container">
    <br>
    <br>
    <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">My Properties</h1>
                <span class="color-text-a">{{user}}'s properties</span>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{%url 'home'%}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    My properties
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
    </section><!-- End Intro Single-->
    {% if user_properties %}
        <section class="property-grid grid">
            <div class="container">
            <div class="row">
              {% for prop in user_properties%}
                <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                    <img src="{{prop.main_picture.url}}" alt="" class="img-a img-fluid" width="600" height="800">
                    </div>
                    <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                        <h2 class="card-title-a">
                            <a href="#">{{prop}}
                            </a>
                        </h2>
                        </div>
                        <div class="card-body-a">
                        <div class="price-box d-flex">
                            <span class="price-a">Buy | {{prop.price}}</span>
                        </div>
                        <a href="/properties/{{prop.id}}" class="link-a">Click here to view
                            <span class="bi bi-chevron-right"></span>
                        </a>
                        </div>
                        <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                            <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>{{prop.area}} m
                                <sup>2</sup>
                            </span>
                            </li>
                            <li>
                            <h4 class="card-info-title">City</h4>
                            <span>{{prop.city}}</span>
                            </li>
                            <li>
                            <h4 class="card-info-title">Agent</h4>
                            <span>{{prop.agent.first_name}}</span>
                            </li>
                            <li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            {%endfor%}
            </div>
            </div>
        </section>
    {% else %}
        <p>Uh oh! There are no properties listed by you.</p>
    {%endif%}
</div>
{%endblock%}