{% extends 'testing/basev3.html'%}

{%block title%}
Add Image Form
{%endblock%}

{%block content%}
{% load crispy_forms_tags %}
    <div class="container">
        <section class="intro-single">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-lg-8">
                  <div class="title-single-box">
                    <h1 class="title-single">Add Image to {{prop.title}}</h1>
                    <span class="color-text-a">Please fill the following details below:</span>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4">
                  <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="{%url 'home'%}">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <a href="{%url 'viewproperty' prop.id%}">{{prop.title}}</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Add Image
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
        </section>
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <br>
            {{form|crispy}}
            <br>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" style="background-color: #068932; border-color: #068932;">Submit</button>
            </div>
            <br>
            <div class="form-actions">
                <a href="{%url 'viewproperty' prop.id%}" class="btn btn-primary" style="background-color: black; border-color: black;">Cancel</a>
            </div>
        </form>
    </div>
{%endblock%}