{%extends 'testing/basev3.html'%}

{%block title %}
Add Property - TradeLand
{%endblock%}
{%block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <section class="intro-single">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-lg-8">
                  <div class="title-single-box">
                    <h1 class="title-single">Add Property</h1>
                    <span class="color-text-a">Please fill the following details below:</span>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4">
                  <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="{%url 'home'%}">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Add Property
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
        </section>
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <h2>Basic Information of Property</h2>
            <br>
            {{prop_form|crispy}}
            <br>
            <br>
            <h2>Additional Details</h2>
            <br>
            {{prop_details_form|crispy}}
            <br>
            <br>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" style="background-color: #068932; border-color: #068932;">Register</button>
            </div>
            <br>
            <div class="form-actions">
                <button onclick="location.href='/home'" class="btn btn-primary" style="background-color: black; border-color: black;">Cancel</button>
            </div>
            <input type="image" multiple>
        </form>
    </div>
{%endblock%}