{% extends 'testing/basev3.html'%}

{% block title %}Wishlisted properties{% endblock %}
{%block content %}
<div class="container">
    <br>
    <br>
    <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Wishlisted Properties</h1>
                <span class="color-text-a">Here are your wishlisted properties</span>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{%url 'home'%}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    My Wishlist
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
    </section><!-- End Intro Single-->
    {% if user_properties %}
        <section class="property-grid grid">
            <div class="container">
            <div class="row">
              {% for wish in user_properties%}
                <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                    <img src="{{wish.prop.main_picture.url}}" alt="" class="img-a img-fluid" width="600" height="800">
                    </div>
                    <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                        <h2 class="card-title-a">
                            <a href="#">{{wish.prop}}
                            </a>
                        </h2>
                        </div>
                        <div class="card-body-a">
                        <div class="price-box d-flex">
                            <span class="price-a">Buy | {{wish.prop.price}}</span>
                        </div>
                        <a href="/properties/{{wish.prop.id}}" class="link-a">Click here to view
                            <span class="bi bi-chevron-right"></span>
                        </a>
                        </div>
                        <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                            <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>{{wish.prop.area}} m
                                <sup>2</sup>
                            </span>
                            </li>
                            <li>
                            <h4 class="card-info-title">City</h4>
                            <span>{{wish.prop.city}}</span>
                            </li>
                            <li>
                            <h4 class="card-info-title">Agent</h4>
                            <span>{{wish.prop.agent.first_name}}</span>
                            </li>
                            <li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-actions" style="text-align: center;">
                    <button onclick="location.href='/removefromwishlist/{{wish.prop.id}}'" class="btn btn-primary" style="background-color: black; border-color: black;">Remove</button>
                </div>
                </div>
            {%endfor%}
            </div>
            </div>
        </section>
    {% else %}
        <p>Your wishlist is empty! Add your favourite properties by wishlisting them.</p>
    {%endif%}
</div>
{%endblock%}